.App {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
.App {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

#splide01-slide01,
#splide01-slide02 {
  display: flex;
  gap: 1rem;
}

.padding {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: black;
}

.Card {
  background: white;
  color: black;
  border-radius: 20px;
  margin: 0.5rem;
}

.top {
  background: white;
}

.header {
  background: white;
  color: black;
  font-size: 1.5rem;
  font-weight: lighter;
}

.color {
  color: black;
}
